<!DOCTYPE html>
<html>
{{ partial "header.html" . }}

<body>
	<div class="container wrapper list" style="position: relative;">

		{{ partial "head.html" . }}

		<aside class="tldr">
			<strong>TLDR;</strong>
			<ul>
				{{- range sort .Data.Pages ".Params.number" "asc" -}}
				{{- if (in (.Site.Params.excludedTypes | default (slice "page")) .Type) -}}
				{{- else -}}
				<li>
					<a href="{{ .RelPermalink }}">
						#{{.Params.number}} - par {{ .Params.par }} - {{ .Params.distance }}
					</a>

				</li>
				{{- end -}}
				{{- end -}}
			</ul>
		</aside>

		{{ if isset .Data "Term" }}
		<h1>Entries tagged - "{{ .Data.Term }}"</h1>
		{{ else }}
		<h1 class="page-title">{{ .Title }}</h1>
		{{ end }}

		

		{{ .Content }}


		<table class="holes">
			<thead>
				<td>#</td>
				<td>par</td>
				<td>dist.</td>
				<td></td>
			</thead>
			<tbody>
				{{- range sort .Data.Pages ".Params.number" "asc" -}}
				{{- if (in (.Site.Params.excludedTypes | default (slice "page")) .Type) -}}
				{{- else -}}
				<tr>
					<td><a href="{{ .RelPermalink }}">{{.Title}}</a></td>
					<td>{{ .Params.par }}</td>
					<td>{{ .Params.distance }}</td>
					<td> {{ .Params.summary }} </td>

				</tr>
				{{- end -}}
				{{- end -}}
			</tbody>
		</table>
	</div>

	{{ partial "footer.html" . }}
</body>

</html>