<!DOCTYPE html>
<html>
{{ partial "header.html" . }}

<body>
	<div class="container wrapper post">
		{{ partial "head.html" . }}


		<aside class="tldr">
			<strong>TLDR;</strong>
			<ul>
				{{- range sort .CurrentSection.Pages ".Params.number" "asc" -}}
				{{- if (in (.Site.Params.excludedTypes | default (slice "page")) .Type) -}}
				{{- else -}}
				<li>
					<a href="{{ .RelPermalink }}">
						#{{.Params.number}} - par {{ .Params.par }} - {{ .Params.distance }}
					</a>

				</li>
				{{- end -}}
				{{- end -}}
			</ul>
		</aside>

		<div class="post-header">
			<h1 class="title">{{ .Title }}</h1>
			{{ if .Params.version }}
            <div class="meta">Version &mdash; {{ .Params.version }}</div>
            {{ end}}

			<div class="hole-info">

				<div class="prev">


					{{with .Page.NextInSection  }}
					<a href="{{.RelPermalink}}">⬅️ #{{.Params.number}} </a>
					{{end}}

				</div>

				<div class="next">
					{{with .Page.PrevInSection  }}
					<a href="{{.RelPermalink}}"> #{{.Params.number}} ➡️</a>

					{{end}}
				</div>
				<div class="info">

					<table>
						<thead>
							<tr>
								<td> # </td>
								<td> Par </td>
								<td title="Distance"> Dist. </td>

							</tr>
						</thead>
						<tbody>
							<tr>
								<td> {{ .Params.number }}</td>
								<td> {{ .Params.par }} </td>
								<td> {{ .Params.distance }} </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="markdown parcours hole-details">
			{{ .Content }}
		</div>

		<img class="hole-details" src="{{.Params.cover}}" alt="Carte du trou">

		<div class="post-tags">
			{{ if ne .Type "page" }}
			{{ if gt .Params.tags 0 }}
			<nav class="nav tags">
				<ul class="flat">
					{{ range .Params.tags }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</nav>
			{{ end }}
			{{ end }}
		</div>
		{{- $.Scratch.Set "isDisqus" true -}}

		<!-- Disable if content type is excluded in config -->
		{{- if and (isset .Params "type") (in .Site.Params.disableDisqusTypes .Params.type) -}}
		{{- $.Scratch.Set "isDisqus" false -}}
		{{- end -}}

		<!-- Check if content has flag to enable/disable disqus explicitly -->
		{{- if and (isset .Params "disqus") (eq .Params.disqus false) -}}
		{{- $.Scratch.Set "isDisqus" false -}}
		{{- else if and (isset .Params "disqus") (eq .Params.disqus true) -}}
		{{- $.Scratch.Set "isDisqus" true -}}
		{{- end -}}

		<!-- Check if disqus short name is given -->
		{{ if not .Site.DisqusShortname }}
		{{- $.Scratch.Set "isDisqus" false -}}
		{{ end }}

		{{- if eq ($.Scratch.Get "isDisqus") true -}}
		{{- partial "disqus.html" . -}}
		{{- end -}}
	</div>
	{{ partial "footer.html" . }}
</body>

</html>