aside.tldr {
    top: 0;
    float: left;
    position: sticky;
    margin-left: -240px;
    width: 200px;
    text-align: right;
    font-size: .7em;
    display: none;
}




@media only screen and (min-width: 1100px) {
    aside.tldr {
        display: block;
    }
}


.toc {
    width: 200px;
    text-align: left;
    font-size: .7em;
    display: block;
}



.toc header a {
    display: none;
}

.toc ul {
    counter-reset: section;
    list-style-type: none;
    margin: 1em 0 0;
}

.toc li {
    margin: 0 0 1em;
}

.toc li:before {
    counter-increment: section;
    content: counters(section, ".") " - ";
}



@media only screen and (min-width: 1300px) {
    .toc {
        display: block;

        float: left;
        top: 0;
        position: sticky;
        margin-left: -240px;
    }

    .toc header {
        display: inline;
        padding-top: 1em;
        font-size: 1.4em;
    }

    .toc header a {
        display: inline;
    }
}


.hole-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding-top: 1em;
}

.hole-info .prev, .hole-info .next {
    flex: 1 0 0%;
    min-width: 3em;
}

.hole-info .prev {
    order: 1
}

.hole-info .info {
    order: 2
}

.hole-info .next {
    order: 3;
    text-align: right;
}

img.hole-details {
    /* padding: 1em; */
    border: 1px solid grey;
}

.sponsors {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.sponsors img {
    width: 14em;
}

.container.list .meta {
    padding-left: 5px;
    margin-top: 10px;
    font-size: 0.725rem;
    color: #999;
    margin-bottom: 4px;
}