<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
{{ partial "header.html" . }}
<body>
	<div class="container wrapper">
		{{ partial "head.html" . }}

		<img src="/affiche_v2_square.jpg" />
		
		<div class="recent-posts section">
			<h2 class="section-header" style="margin: 3em 0 1em; font-size: 1.1em;">
				Dernières pages mises à jour
			</h2>
			<div class="posts">
				{{ $pages := where .Site.RegularPages.ByLastmod.Reverse "Type" "in" .Site.Params.mainSections }}
				{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
				{{ range $paginator.Pages }}
				<div class="post">
					<!-- <div class="meta">{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</div> -->
					<a class="title" href="{{ .RelPermalink }}">{{.Title}}</a> <small>{{.Lastmod.Format "2006.01.02"}}</small> &mdash;
					<span class="description">
						{{ if isset .Params "description" }}
						{{ .Description }}
						{{ else }}
						{{ .Summary | plainify | safeHTML }}
						{{ end }}
					</span>
					{{ if .Truncated }}
					<!-- This <div> includes a read more link, but only if the summary is truncated... -->
					<span>
						<a href="{{ .RelPermalink }}"> &mdash; la suite...</a>
					</span>
					{{ end }}
				</div>
				{{ end }}
				{{ template "partials/paginator.html" . }}
			</div>
		</div>
	</div>
	{{ partial "footer.html" . }}
</body>
</html>
